{
margin 0;
padding: 0;
box-sizing: border-box;
    
}

html{
    
scroll-behavior: auto;
}
/* NavBar */
.navbar
{
display:flex;
justify-content: center;
background-color: rgba(0,0, 0, 0.5);
position: sticky;
top: 0; 
    

}
.navbar ul {
 display: flex;
list-style: none;
margin: 20px 0px;

    
}

.navbar ul li{
  font-family: fantasy;
  font-size: 1.1rem ;
  font-weight: bold;
  
    
    
    
    
}

.navbar ul li a{
  text-decoration: none;
  color: white;
  padding : 8px 25px;
  transition: all .5s ease ; 
    
    
}
.navbar ul li a:hover{
    background-color: antiquewhite;
    color: black;
    box-shadow: 0 0 10px white;
    
    

}

#home{
 display: flex;
 flex-direction: column;
 background-color:rgba(0,0,0,0.5);
 height: 840px;
 justify-content: center;
 align-items: center;
 color: white;
    
    
}
/* Home Section*/
#home::before{
 content: "";
 position: absolute;
 top: 0;
 right: 0;
 background-color: black;
    
    
}
.main{
 display: flex;
 flex-direction: column;
 border: 1px solid white; 
 align-items: center;
 position: absolute; 
top: 30%;
right: 10%; 



    
}

.headings{

font-family: cursive;
font-size: 3rem;
text-align: center;
margin: 40px 0px

    
    
}


.btn{
    
padding: 10px 35px;
background-color: transparent;
border: 1px solid white;
color: white;
outline: none;
transition: .6s ease;

}

.btn:hover{
 cursor: pointer;
background-color: white;
color: black;
box-shadow: 0 0 0.5px white, 0 0 10px, 0 0 15px white;
font-weight: bold;



    
    
    
}


/* Biography Section*/

#biography{
    
    display: flex;
    flex direction: column;
    background-color: rgba(0,0,0,0.5);
    box-shadow: 0 0 0.5px antiquewhite, 0 0 10px, 0 0 15px white;
    font-weight: bold;
    color: whitesmoke;
    


    
    
    
}

/* Projects Section*/

#projects{
    
display: flex;
flex-wrap: wrap;
background-color:rgba(0,0,0,0.5);
color: whitesmoke;
align-items: center;
padding: 20px;
font-size: 21px;

    
    
    
}

.gallery{
    
display: flex;
flex-wrap: wrap;
justify-content: space-around;
box-sizing: border-box;


    
    
}
.gallery img{
    
width: 360px;
height:240px;
margin: 10px;

    
    
}
#contact{
 display: flex;
 flex-direction: column;
 box-sizing: border-box;
 background-color: black;
color: white;
padding: 20px;
    

    
    
    
    
    
}

.form{
    
display: flex;
flex-direction: column;
box-sizing: border-box;
align-items: center;
margin: 20px, 0px;

    
}

.input{
padding: 12px;
margin: 15px;
width: 30px;
border: none;
outline: none;
    
    
    
}


#msg{
width: 20%;
padding: 10px;
margin: 15px;
border: none;
outline: none;

    
    
}
    
    
#SEND{
    
padding: 10px;
width: 10%;
margin: 40px;
border: none;
outline: none;

    
    
}    

#SEND:hover{
cursor: pointer;
box-shadow: 0 0 10px white;

 
    
    
}

.calculatorlayout{
        width: 320px;
        background-color: white;
        margin: 120px auto;
    }
    table {
        width: 100%;
        border-color: #f4f4f4;
    }
    td {
        width: 25%;
    }
    button {
        width: 100%;
        height: 70px;
        font-size: 24px;
        background-color: white;
        border: none;
    }
    
    
    
    
}

